html {
    font-size: 14px;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;

}

body {
    margin-bottom: 60px;
    
}

table thead{
    background-color:#000000e0;
    color:white;
    
}

table tr td {
    color: black;
    font-weight:bold;
}
.close-alert{
    position: absolute;
    right: -5px;
    top: -5px;
    border-radius: 6px;
    width: 30px;
}